# Portfolio blog Firebase
PUBLIC_FIREBASE_API_KEY=
PUBLIC_FIREBASE_AUTH_DOMAIN=portfolioblog-9dc43.firebaseapp.com
PUBLIC_FIREBASE_PROJECT_ID=portfolioblog-9dc43
PUBLIC_FIREBASE_STORAGE_BUCKET=portfolioblog-9dc43.firebasestorage.app
PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
PUBLIC_FIREBASE_APP_ID=

# Doodle notepad Firebase
PUBLIC_DOODLE_API_KEY=
PUBLIC_DOODLE_PROJECT_ID=doodlenotepad-4d983
